body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 900px;
    width: 100%;

}

.hder
{
    height: 30%;
    width: 100%;
    background: rebeccapurple;
}
.tex
{
    text-align: center;
    color: aliceblue;
}
#contener
{
    width: 100%;
    height: 1300px;
    margin: 10px auto 2px;
    display: table;
    box-sizing: border-box;
    background: green;
    padding-left: 10px;
    position: relative;
    top: -50px;

}

.row
{
    margin: 10px 0;
    width: 100%;


}

#x1{
    background: yellow;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: blue;
    vertical-align: middle;
    border-left: 5px solid green;
    border-right: 12px solid green;
    width: 600px;
    height: 200px;
}

#x2{
    background: yellow;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: blue;
    vertical-align: middle;
    border-left: 5px solid green;
    border-right: 12px solid green;
    width: 600px;
    height: 200px;
}

#x3{
    background: yellow;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: blue;
    vertical-align: middle;
    border-left: 5px solid green;
    border-right: 12px solid green;
    width: 600px;
    height: 200px;
}

#x4{
    background: yellow;
    display: table-cell;
    padding: 10px;
    width: 33.33333%;
    text-align: center;
    color: blue;
    vertical-align: middle;
    border-left: 5px solid green;
    border-right: 12px solid green;
    width: 600px;
    height: 200px;
}

#blc1
{
     -webkit-transform:rotate(90deg);
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
}

#blc2
{
     -webkit-transform:rotate(90deg);
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
}
#blc3
{
     -webkit-transform:rotate(90deg);
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
}
#blc4
{
     -webkit-transform:rotate(90deg);
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;
}

.imag
{
    width: 100%;
    height: 99%;
}
.bout
{
    display: flex;
    justify-items: center;
    justify-content: left;
    background-color: none;
    margin-bottom: 5px;
}

#btn
{
    width: 100px;
    height: 100px;
    border: 5px solid none;
    border-radius: 10px;
    background-color: greenyellow;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 7px;
    
}

input[type=text], textarea, input[type=email], input[type=number]
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right:0px;
    resize: vertical;
}

label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

input[type=button]
{
    background-color: #1255a2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover
{
    background-color: red;

}

.envlop
{
    display: flex;
    background-color: green;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.formulaire{
    background-color: #f2f2f2;
   /* box-sizing: border-box;*/
    padding: 15px;
    width: 45%;
    /*margin-right: 5px;
    margin-left: 7px;*/
    border-radius: 7px;
}

.sectAffichage{
    width: 45%;
    margin-left: 10px;
    border-radius: 7px;
    background-color: #f2f2f2;
    vertical-align: middle;
    padding: 15px;
}

.sectAffichage .p{
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
} 

h1{
    color: #ffc800;
    width: 100%;
}

footer{
    background-color: grey;
    margin: 2px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 10px solid grey;
}

.reseaux
{
    display: flex;
    justify-items: center;
    margin-left: 30px;
}
.fab fa-facebook{
    mar
}